{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}

<div class="about center">
    {% if name is none %}
    <h1>i don't know who i am!</h1>
    {% else %}
    <h1>hello, my name is {{ name }}</h1>
    {% endif %}

    <img src="{{ url_for('static', filename='image.jpeg') }}" />

    <div class="food-list">
        <h4>Food List</h4>
        <div class="container">
            {% for food in list_of_food %}
                <div class="item"><span>{{ food[0] }}</span></div>
            {% endfor  %}
        </div>
    </div>
</div>

{% endblock %}
